.button1 {
  color: white;
  display: inline-block;
  width: 20%;
  padding: 15px;
  border: 0.1em solid rgb(43, 13, 155);
  margin: 6px;
  border-radius: 6px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", "Arial Narrow", sans-serif;
  font-weight: 300;
  font-size: larger;
  text-align: center;
  transition: all 0.2s;
  background-color: rgb(43, 13, 155);
}
.button1:hover {
  color: white;
  background-color: rgb(56, 19, 189);
}
